:root {
    --green: #97fcd5;
    --green-select: #54e6af;
    --blue-950: #121725;
    --blue-900: #20344b;
    --blue-600: #54688a;
    --blue-300: #c2cbe5;
    --white: #ffffff;
    --red: #fb3e3e;
}
